{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

{% block stylesheets %}
<style>
    .map-control {
      padding: 10px 10px 8px 10px;
      font: 16px/18px 'OpenSans', sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    }

    .map-control h6 {
      font-weight: bold;
      color: #777;
    }

    .map-control p {
      font-size: 1rem;
      margin-bottom: 0px;
      color: rgb(58, 59, 65);
    }
</style>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-transparent">
					<div class="card-header">
						<h4 class="page-title text-center mt-3" style="margin-bottom: 10px;">
							OECD Data World Map
						</h4>
						<p class="page-category text-center" style="margin-bottom: 10px;">
							Lorem pharetra, magna in semper tempor, tellus risus mattis ipsum, nec semper sapien metus sed metus.
						</p>
					</div>
					<div class="card-body">
						<div class="col-md-10 ml-auto mr-auto">
							<div class="mapcontainer">
								<div id="mapid" class="vmap" style="height: 450px"></div>
							</div>
						</div>						
						<div class="col-md-10 ml-auto mr-auto">
							<div class="table-responsive mt-5">
								{% if table_data %}
									<table class="table table-hover">
										<thead>
										<tr style="
											background-color: #1f5b6b; 
											color:white;
											text-align: center;
											">
											<th></th>
											<th>Year</th>
											<th>Provider</th>
											<th>Climate</th>
											<th>Financial Instrument</th>
											<th>Financial Type</th>
										</tr>
										</thead>
										<tbody style="text-align: center;">
											{% for data in table_data %}
											<tr>
												<th scope="row">{{ forloop.counter }}</th>
												<td>{{ data.year }}</td>
												<td>{{ data.provider }}</td>
												<td>${{ data.climate_dev_finance_commitment_current|floatformat:'2' }}</td>
												<td>{{ data.financial_instrument }}</td>
												<td>{{ data.finance_type }}</td>
											</tr>
											{% empty %}
												<h4>Sorry, no records found.</h4>
											{% endfor %}
										</tbody>
									</table>
								{% else %}
									<p>Sorry, no current data.</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block javascripts %}
	<script>
		// LEAFLET MAP SECTION
		// https://leaflet-extras.github.io/leaflet-providers/preview/ 
		// Basemaps available
	
		var accessToken =  'pk.eyJ1IjoiY2Fub25taW5kcyIsImEiOiJjazZ6MDhsbm8wd2l5M2VydnlhNnMzNjd2In0.fHuV1kBL3phDqN7ME7fyFg';
		var MapBoxUrl = 'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png';
		var DarkMatterUrl = 'https://{s}.basemaps.cartocdn.com/rastertiles/dark_all/{z}/{x}/{y}.png';
		var StamenTonerBackgroundUrl = 'https://stamen-tiles-{s}.a.ssl.fastly.net/toner-background/{z}/{x}/{y}{r}.png';
		var VoyagerClear = 'https://{s}.basemaps.cartocdn.com/rastertiles/voyager_nolabels/{z}/{x}/{y}{r}.png';
		var PositronUrl =  'https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}{r}.png';
		var MAP = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';    
		
		var voyager = L.tileLayer(MapBoxUrl, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: MAP}),
		darkmatter = L.tileLayer(DarkMatterUrl, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: MAP}),
		tonerbackground = L.tileLayer(StamenTonerBackgroundUrl, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: MAP}),
		voyagerclear = L.tileLayer(VoyagerClear, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: MAP}),
		positronnolabel = L.tileLayer(PositronUrl, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: MAP});;
		
		const coordinates1 = [12.6009, 121.1622]     ;     //Main Coordinates
		const coordinates2 = [14.65057, 121.05477];        //Central Coordinates
		const coordinates3 = [42.322982, -71.095139];
		const coordinates4 = [12.007854, 120.200812];      // Coron, Palawan
		const coordinates5 = [12.45057, 121.05477];        // Philippines left
		const coordinates6 = [13.042919, 121.91748];       // Adjusted Philippines Coordinates
		const coordinates7 = [-24.550646, 133.848632];     // Australia
		const coordinates8 = [46.7213, 2.720216];          // France 
		const world_coordinates = [44.62867, 3.515625];
		const world_center = [0, 0]; 

		var baseMaps = {
			"<span>Voyager</span>": voyager,
			"<span>Voyager Clear</span>": voyagerclear,
			"<span>Positron</span>": positronnolabel,
			"<span>Dark Matter</span>": darkmatter, 
			"<span>Toner Background</span>": tonerbackground,
		};

		var map_data = L.map('mapid', {
			minZoom: 2,
			maxZoom: 20,
			fullscreenControl: {
					pseudoFullscreen: true
			},
        	layers: [voyager],
    	}).setView(coordinates6, 4.5); 

		L.control.layers(null, baseMaps, {position: 'bottomright'}).addTo(map_data);

		var southWest = L.latLng(-89.98155760646617, -180), northEast = L.latLng(89.99346179538875, 180);
		var bounds = L.latLngBounds(southWest, northEast);

		map_data.setMaxBounds(bounds);
		map_data.on('drag', function() {
			map_data.panInsideBounds(bounds, { animate: false });
		});

		// var coordinates_data = {{coordinate_query|safe}};
		var coordinates_data = 'https://raw.githubusercontent.com/CanonMinds/climate-tag-ph/7e4116a4cd91ae7a18b812544ae4615212d4075a/fixtures/countries.geojson';
		
		var geospatial_data = L.geoJSON(null, {
			onEachFeature: onEachFeature,
			style: styleMap,
		});
		$.getJSON(coordinates_data, function(data){
			geospatial_data.addData(data)
		});


		// On-hover feature
		var info = L.control();
		info.onAdd = function (map_data) {
			// creating a div with a class "map-control"
			this._div = L.DomUtil.create('div', 'map-control');
			this.update();
			return this._div;
		};

		// Update the control based on feature properties passed
		info.update = function (properties) {
			this._div.innerHTML = '<h6>Climate Commitment Finance</h6>' + (properties ?
				'<p style="text-transform:uppercase; font-weight:bold; color:#1f5b6b;">' + properties.ADMIN + ' (ISO: '+ properties.ISO_A3 +')'+'</p>' +
				'<p style="font-weight:bold; margin-top:0px;">' + properties.ClimateDevFinanceCommitmentCurrent + '</p>' +
				'<p style="margin-top:0px;">' + properties.FinancialInstrument + ' : '+ properties.FinanceType  + '</p>'
				: (coordinates_data) ? '<p>Hover over a country</p>' : '');
		};

		// Default innerhtml
		// info.update = function (properties) {
		// 	this._div.innerHTML = '<h6>Climate Commitment Finance</h6>' + (properties ?
		// 		'<p style="text-transform:uppercase; font-weight:bold; color:#1f5b6b;">' + properties.Provider + ' ('+ properties.Year +')'+'</p>' +
		// 		'<p style="font-weight:bold; margin-top:0px;">' + properties.ClimateDevFinanceCommitmentCurrent + '</p>' +
		// 		'<p style="margin-top:0px;">' + properties.FinancialInstrument + ' : '+ properties.FinanceType  + '</p>'
		// 		: (coordinates_data) ? '<p>Hover over a country</p>' : '');
		// };

		info.addTo(map_data);
		function styleMap(feature) {
			return {
				fillColor: '#a1a616',
				weight: 2,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.7
			};
		}

		//  Applying interactive functions to each feature
		function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			});
		}

		// Mouseover
		function highlightFeature(e) {
			var layer = e.target;
			layer.setStyle({
				weight: 2,
				color: '#777',
				dashArray: '',
				fillOpacity: 0.7
			});
			if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
				layer.bringToFront();
			}
			info.update(layer.feature.properties);
		}

		// Mouseout
		function resetHighlight(e) {
			geospatial_data.resetStyle(e.target);
			info.update();
		}
		geospatial_data.addTo(map_data);

	</script>
{% endblock javascripts %}
