{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Charts {% endblock %} 

{% block stylesheets %}
<style>
#mapid { 
	height: 180px; 
}
.subtext{
    font-style: italic;
}
</style>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<h4 class="page-title">CLIMATE OBJECTIVE</h4>
			<div class="page-category">Lorem pharetra, magna in semper tempor, tellus risus mattis ipsum, nec semper sapien metus sed metus.</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Climate Finance Commitment to Philippines <br>
								<p class="subtext">(Data subject for final updating)</p></div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yearly Trendline <br>
								<p class="subtext">(Data subject for final updating)</p></div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<canvas id="lineChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 ml-auto mr-auto">
					<div class="table-responsive mt-5">
						{% if table_data %}
							<table class="table table-hover" id="climate_table" cellspacing="0" width="100%">
								<thead>
								<tr style="
									background-color: #1f5b6b; 
									color:white;
									text-align: center;
									">
									<th></th>
									<th>Year</th>
									<th>Provider</th>
									<th>Adaptation Related Finance Commitment</th>
									<th>Mitigation Related Finance Commitment</th>
									<th>Overlap Finance Commitment</th>
									<th>Channel of Delivery</th>
								</tr>
								</thead>
								<tbody style="text-align: center;">
									{% for data in table_data %}
									<tr>
										<th scope="row">{{ forloop.counter }}</th>
										<td>{{ commitment_year }}</td>
										<td style="font-weight: 900;">{{ data.provider }}</td>

										{% if data.adaptation_dev_finance_commitment_current %}
										<td>${{  data.adaptation_dev_finance_commitment_current|floatformat:2 }}</td>
										{% else %}
										<td>-</td>
										{% endif %}

										{% if data.mitigation_dev_finance_commitment_current %}
										<td>${{  data.mitigation_dev_finance_commitment_current|floatformat:2 }}</td>
										{% else %}
										<td>-</td>
										{% endif %}

										{% if data.overlap_commitment_current %}
										<td>${{  data.overlap_commitment_current|floatformat:2 }}</td>
										{% else %}
										<td>-</td>
										{% endif %}

										
										{% if data.channel_delivery %}
										<td>{{  data.channel_delivery }}</td>
										{% else %}
										<td>-</td>
										{% endif %}

									</tr>
									{% empty %}
										<h4>Sorry, no records found.</h4>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<p>Sorry, no current data.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block javascripts %}

	<script src="{% static 'js/setting-demo2.js' %}"></script>
	<script>
		
		var lineChart = document.getElementById('lineChart').getContext('2d'),
		pieChart = document.getElementById('pieChart').getContext('2d');

		var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Country Provider",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900]
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});

		var myPieChart = new Chart(pieChart, {
			type: 'pie',
			data: {
				datasets: [{
					data: [50, 35, 15],
					backgroundColor :["#1d7af3","#f3545d","#fdaf4b"],
					borderWidth: 0
				}],
				labels: ['Adaptation', 'Mitigation', 'Overlap'] 
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'bottom',
					labels : {
						fontColor: 'rgb(154, 154, 154)',
						fontSize: 11,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					render: 'percentage',
					fontColor: 'white',
					fontSize: 14,
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		})
console.log("hello");
		//Sortable Header
		function sortTable(f,n){
	var rows = $('#climate_table').get();
	console.log("rows", rows);

	rows.sort(function(a, b) {

		var A = getVal(a);
		var B = getVal(b);

		if(A < B) {
			return -1*f;
		}
		if(A > B) {
			return 1*f;
		}
		return 0;
	});

	function getVal(elm){
		var v = $(elm).children('td').eq(n).text().toUpperCase();
		if($.isNumeric(v)){
			v = parseInt(v,10);
		}
		return v;
	}

	$.each(rows, function(index, row) {
		$('#mytable').children('tbody').append(row);
	});
}
var f_sl = 1;
var f_nm = 1;
$("#sl").click(function(){
    f_sl *= -1;
    var n = $(this).prevAll().length;
    sortTable(f_sl,n);
});
$("#nm").click(function(){
    f_nm *= -1;
    var n = $(this).prevAll().length;
    sortTable(f_nm,n);
});
	</script>

{% endblock javascripts %}
