{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Charts {% endblock %} 

{% block stylesheets %}
<style>
#mapid { 
	height: 180px; 
}
.subtext{
    font-style: italic;
}
</style>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<h4 class="page-title">SECTORAL FUNDING</h4>
			<div class="page-category">Lorem aenean ultrices vulputate neque, sed tincidunt libero dapibus nec. Nullam iaculis a ligula quis tincidunt. </div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Target Sectors<br>
								<p class="subtext">(Data subject for final updating)</p></div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yearly Sub-sectors <br>
								<p class="subtext">(Data subject for final updating)</p></div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<canvas id="barChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 ml-auto mr-auto">
					<div class="table-responsive mt-5">
						{% if table_data %}
							<table class="table table-hover">
								<thead>
								<tr style="
									background-color: #1f5b6b; 
									color:white;
									text-align: center;
									">
									<th></th>
									<th>Year</th>
									<th>Provider</th>
									<th>Purpose Code</th>
									<th>Sector</th>
									<th>Sub-sector</th>
									<th>Gender</th>
								</tr>
								</thead>
								<tbody style="text-align: center;">
									{% for data in table_data %}
									<tr>
										<th scope="row">{{ forloop.counter }}</th>
										<td>{{ data.year }}</td>
										<td style="font-weight: 900;">{{ data.provider }}</td>
										<td>{{ data.purpose_code|default:"-" }}</td>
										<td>{{ data.sector|default:"-" }}</td>
										<td>{{ data.sub_sector|default:"-" }}</td>
										<td>{{ data.gender|default:"-" }}</td>
									</tr>
									{% empty %}
										<h4>Sorry, no records found.</h4>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<p>Sorry, no current data.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block javascripts %}

	<script>
		var barChart = document.getElementById('barChart').getContext('2d'),
		pieChart = document.getElementById('pieChart').getContext('2d');

		var myBarChart = new Chart(barChart, {
			type: 'bar',
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets : [{
					label: "Funding",
					backgroundColor: 'rgb(23, 125, 255)',
					borderColor: 'rgb(23, 125, 255)',
					data: [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
				}],
			},
			options: {
				responsive: true, 
				maintainAspectRatio: false,
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				},
			}
		});

		var myPieChart = new Chart(pieChart, {
			type: 'pie',
			data: {
				datasets: [{
					data: [15, 20, 35, 15, 15],
					backgroundColor :["#1f5b6b","#f3545d","#fdaf4b","#1d7af3","#a1a616",],
					borderWidth: 0
				}],
				labels: [
					'Agriculture, Forestry, Fishing', 
				    'Water Supply & Sanitation',
					'Disaster Prevention & Preparedness',
				    'Energy',
				    'Other Multisector',
				] 
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'bottom',
					labels : {
						fontColor: 'rgb(154, 154, 154)',
						fontSize: 11,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					render: 'percentage',
					fontColor: 'white',
					fontSize: 14,
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		})

	</script>

{% endblock javascripts %}
